
.level_1 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #E0E0F8;
}
.level_2 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #CECEF6;
}

.level_3 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #A9A9F5;
}
.level_4 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #8181F7;
}
.level_5 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #5858FA;
}
.level_6 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #2E2EFE;
}
.level_7 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #0000FF;
}

.level_X {
	height: 10px !important; /* overwrites any other rules */
	background-color: #070719;
}

table.word{
	display: inline-table;
	text-align: center;
}

#sentedit_output{
	font-size: 16px;
}

#sentedit_input{
	font-size: x-large;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-default {
    border-color: #ddd;
}

.word-select {
	appearance: none;
	padding: 5px;
	background-color:rgba(241, 252, 242, 0.89);
	border: none;
	font-family: inherit;
	outline: none;
    text-align: center;
    width: 130px;
    display: inline-block;
}

#loading {
    width: 205px;
    height: 30px;
    /* border:2px solid #C3DAF9; */
    /* position:absolute;
    top:300px;
    left:600px;  */
    margin-top: auto;
    z-index:10000; 
    background-color:yellow;
    /* line-height:15px; */
    vertical-align:middle;
    font-size:15pt;
    display:none;
}

.form-control2 {
    display: block;
    width: 100%;
    /* height: calc(1.5em + 0.75rem + 2px); */
    height: 550px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Microsoft JhengHei", "sans-serif";
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #040505;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow:auto;
  }

/* .form-control {
    display: flex;
    width: 100%;
    height:490px;
    padding: 5px;
    font-family: "Microsoft JhengHei", "BiauKai", "DFKai-sb","kaiu", "sans-serif";
    font-size:16px;
    box-sizing: border-box;
    border-color:#180217;
    /* font-weight: $input-font-weight; */
    /* line-height: $input-line-height; */
    /* background-color: $input-bg; */
    /* appearance: none;  Fix appearance for date inputs in Safari */
  
    /* // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @include border-radius($input-border-radius, 0);
  
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
  
    &[type="file"] {
      overflow: hidden; // prevent pseudo element button overlap
  
      &:not(:disabled):not([readonly]) {
        cursor: pointer;
      } 
    } */
  