
.level_1 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #E0E0F8;
}
.level_2 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #CECEF6;
}

.level_3 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #A9A9F5;
}
.level_4 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #8181F7;
}
.level_5 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #5858FA;
}
.level_6 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #2E2EFE;
}
.level_7 {
	height: 10px !important; /* overwrites any other rules */
	background-color: #0000FF;
}

.level_X {
	height: 10px !important; /* overwrites any other rules */
	background-color: #070719;
}

table.word{
	display: inline-table;
	text-align: center;
}

#sentedit_output{
	font-size: 16px;
}

#sentedit_input{
	font-size: 16px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-default {
    border-color: #ddd;
}

.word-select {
	appearance: none;
	padding: 5px;
	background-color:rgba(241, 252, 242, 0.89);
	border: none;
	font-family: inherit;
	outline: none;
    text-align: center;
    width: 135px;
    display: inline-block;
}